{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- utf es para que pase de ingles a espanol-->
  <title>Registro</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Estilo.css' %}">
<!--<link rel="stylesheet" type="text/css" href="theme.css"> para el tamaño de la imagen-->
</head>
<body>

  <center>

  <div class="card" style="width: 20rem;">
  <div class="card-block">
    <billabong class="card-title">Instagram</billabong><br>
    <font color="grey"><b>Regístrate para ver fotos y vídeos de tus amigos<b></font>
    <a href="#" class="btn btn-primary"> Iniciar sesíon con Facebook </a>
    <p class="card-text">
    <form action='{% url 'crear_usuario' %}' method="post">
      {% csrf_token %}
      <div class= "form-group">
        <input class= "form-control" type="text" placeholder="Numero móvil o correo electrónico"name="email">
      </div>
      <div class= "form-group">
        <input class= "form-control" type="text" placeholder="Nombre completo" name="name">
      </div>
      <div class= "form-group">
        <input class= "form-control" type="text" placeholder="Nombre de usuario" name="username">
      </div>
      <div class= "form-group">
        <input class= "form-control" type="password" placeholder="Contraseña" name="password">
      </div>
      <button class="btn btn-primary">Registrarse</button><br><br>
    </form>
    <font color="grey">
      <p class="font-weight-normal">Al registrarte, aceptas nuestras <strong>Condiciones</strong>
        y nuestra <strong>Politica de privacidad.</strong></p>
      </font>
  </div>
  <center>
    <div class="card" style="width: 20rem;"><br>
    <div class="aux">
      ¿Tienes una cuenta?
      <a id="link" href="{% url 'login' %}">Entrar</a>
    </div>
  </div>

  </center>
  </div>


<p class="font-weight-bold">Descarga la aplicación.</p>
  <div id="imagenes">
    <img src="{% static 'img/apple.png' %}" class="img-fluid" id="Img1" alt="Responsive image1">
    <img src="{% static 'img/googleplay.png' %}" class="img-fluid" id="Img2" alt="Responsive image2"><br>
  </div>

  </center>
</body>
<html>
